* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #097e57bf;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #02583cbf;
}

.dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #097e57bf;
    position: absolute;
    top: 50%;
    right: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }
}


.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 45%;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    /* background: #f0808050; */
    background: #858282;
    background: #015035bf;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #097e57bf;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
    15% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow324 {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

.header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #097e57bf !important;
}

.logo-img {
    width: 100px;
}

.main-div {
    background-color: #eec160bf;
    width: 100%;
    height: 100vh;
    /* padding: 10px; */
}

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.filter-div {
    width: 25%;
    height: 100%;
    box-shadow: #097e57bf 0px 2px 4px 0px, #097e57bf 0px 0px 0px 2px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
    position: relative;
}

.categories {
    width: 100%;
    height: auto;
}

.sub-categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.categories-btn {
    padding: 10px;
    width: auto;
    border-radius: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.categories-btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -6px inset, rgba(0, 0, 0, 0.3) 0px 5px 10px -12px inset;
}

.all-divs {
    width: 75%;
    height: 100%;
    position: relative;
    /* background-color: aqua; */
    overflow-x: hidden;
}

.search,
.search-btn {
    border: 2px solid #eec160bf !important;
    border-radius: 45px !important;
}

.search:focus {
    box-shadow: none !important;
}

.search-btn {
    width: 120px;
    height: 45px;
    border: 2px solid #eec160bf !important;
    border-radius: 45px !important;
    transition: all 0.3s;
    cursor: pointer;
    background: white !important;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
}

.search-btn:hover {
    background: #eec160bf !important;
    color: white !important;
}

.all-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.cards {
    width: 250px;
    /* height: 300px; */
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #097e57bf 0px 2px 4px 0px, #097e57bf 0px 0px 0px 2px;
}

.item-img-div {
    height: 150px;
    width: 100%;
    position: relative;
}

.item-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
}

.item-data {
    padding: 10px 10px 0px 10px;
    font-size: 18px;
}

.item-price {
    font-weight: bold;
}

.item-designer {
    font-size: 16px;
}

.item-price-fake {
    text-decoration: line-through;
}

.off-percent {
    color: red;
    font-size: 14px;
}

.rating-star {
    color: orange;
}

.rating-star-div {
    position: absolute;
    bottom: 3px;
    left: 0;
}

.filter-div-2{
    width: 100%;
    background-color: #fff;
    min-height: 132px;
    border-radius: 10px;
    box-shadow: #097e57bf 0px 2px 4px 0px, #097e57bf 0px 0px 0px 2px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: hidden;
    position: relative;
    display: none;
}

.gallery-img{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 990px) {
    .all-divs {
        width: 100% !important;
        height: 85%;
    }

    .filter-div{
        display: none;
    }
    .filter-div-2{
        display: flex;
    }
}